{{ define "head" }}
{{ end }}

{{ define "main" }}
<main class="flex-grow bg-white dark:bg-gray-900 transition-colors duration-300">
    <section class="py-16">
        <div class="container max-w-3xl mx-auto px-4">
            <h1 class="text-4xl font-bold text-gray-900 dark:text-white mb-8 flex items-center gap-3">
                <!-- icon -->
                 
                <span class="icon-[ri--file-list-3-line] w-8 h-8 text-indigo-600 dark:text-indigo-400"></span>
               
                {{ .Title }}
            </h1>
            <div class="prose prose-lg dark:prose-invert max-w-none">
                {{ .Content }}
            </div>
        </div>
    </section>    
</main>
{{ end }}