<section class="detail-header">
    <div class="container-full">
        <nav class="breadcrumb">
            {{ with .Parent }}
            <a href="{{ .RelPermalink }}">
                💡
                {{ .Title }}
            </a>
            {{ end }}
            <i class="icon-[ri--arrow-right-s-line]"></i>
            <span class="grow">{{ .Title }}</span>
            
            <button class="menu-toggle" id="menuToggle" aria-label="Toggle menu">
                <svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                </svg>
                Menu
            </button>
        </nav>
    </div>
</section>